<% provide(:title, 'レシピ一覧')%>
<p class="flash" ><%= flash[:info]%></p>
<div class="main">
  <%= render 'shared/in_sidebar.html.erb'%>
  <div class="container">
    <table>
      <>
    </table>
  </div>
</div>
