<% provide(:title, 'eatcapsule | about')%>
<div class="main">
  <div class="side-nav">
    <nav id="nav-list">
      <div class="side-list">
        <div>
          <ul class="menu-list">
            <li>
              <%= link_to "/", class: "list-item" do %>
                <i class="fa-solid fa-house"></i>Home
              <% end %>
            </li>
            <li>
              <%= link_to "/", class: "list-item" do %>
                <i class="fa-solid fa-user"></i>Login
              <% end %>
            </li>
            <li>
              <%= link_to "/", class: "list-item" do %>
                <i class="fa-solid fa-pen"></i>SignUp
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="content">
    <div class="content-wrapper">
      <div class="content-document">
        <div class="content-document-inner">
          <h1>About</h1>
          <h1 class="document-title">EatCapsuleとは？？</h1>
          <p>今日何を作ろうかと悩んだことはありませんか？</p>
        </div>
      </div>
    </div>
  </div>
</div>