<% provide(:title, 'eatcapsule')%>
<p class="flash" ><%= flash[:info]%></p>
<p class="alert"><%= alert%></p>
<div class="main">
  <%= render 'shared/out_sidebar.html.erb'%>
  <div class="top-background-image">
    <div class="content">
      <div class="title-container">
        <h1 class="top-title title-icon">ひとり飯</h1>
      </div>
    </div>
  </div>
</div>
