<header>
  <nav id="menu-list" >
    <div class="header" >
      <div>
        <ul>
          <li>
            <%= link_to "/", class: "list-item-title" do %>
              HOME<i class="fa-thin fa-house"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
