<header>
  <nav id="menu-list">
    <div class="header">
      <div>
        <ul>
          <li>
            <%= link_to "/", class: "list-item" do %>
              Home<i class="fa-solid fa-house"></i>
            <% end %>
          </li>
          <li>
            <p class="list-item">About</p>
          </li>
          <li>
            <p class="list-item">Login</p>
          </li>
          <li>
            <p class="list-item">SignUp</p>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
