<header>
  <nav class="navbar">
    <div class="container">
      <div class="header-items">
        <div class="header-left">
          <%= link_to "/", class: "header-logo" do%>
            <h1>eat-capsule</h1>
          <% end %>
        </div>
        <div class="header-right">
          <nav class="nav-header-form-none">
            <% if user_signed_in? %>
              <div class="header-form">
                <%= link_to  "ログアウト", destroy_user_session_path,class: "logout-btn header-btn", method: :delete %>
              </div>
              <% else %>
              <div class = "header-form">
                <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "guest-login header-btn", method: :post %>
              </div>
            <% end %>
          </div>
          <nav class="nav-hamburger">
            <button class="header__hamburger hamburger" id="js-hamburger">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <nav class="header__nav nav" id="js-nav">
              <ul class="nav__items nav-items">
                <li class="nav-items__item">
                  <%= link_to "Home", "/" %>
                </li>
                <li class="nav-items__item"><a href="">メニュー</a></li>
                <li class="nav-items__item"><a href="">メニュー</a></li>
                <li class="nav-items__item"><a href="">メニュー</a></li>
              </ul>
            </nav>
          </nav>
        </div>
      </div>
    </div>
  </nav>
</header>

<script>
  const ham = document.querySelector('#js-hamburger');
  const nav = document.querySelector('#js-nav');

  ham.addEventListener('click', function () {
    ham.classList.toggle('active');
    nav.classList.toggle('active');
  });
</script>