<header>
  <nav>
    <div class="header" >
      <div>
        <%= link_to "/", class: "header-logo" do %>
          HOME<i class="fa-solid fa-house"></i>
        <% end %>
      </div>
    </div>
  </nav>
</header>
