<div class="side-nav">
  <nav id="menu-list">
    <div class="header">
      <div>
        <ul class="nav-list">
          <li>
            <%= link_to "/", class: "list-item" do %>
              <i class="fa-solid fa-house"></i>Home
            <% end %>
          </li>
          <li>
            <%= link_to "/", class: "list-item" do %>
              <i class="fa-solid fa-book"></i>About
            <% end %>
          </li>
          <li>
            <%= link_to "/", class: "list-item" do %>
              <p class="list-item">Login</p>
            <% end %>
          </li>
          <li>
            <%= link_to "/", class: "list-item" do %>
              <p class="list-item">SignUp</p>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
