* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  line-height: 50px;
}

ul li {
  list-style-type: none;
}

.container {
  width: 100%;
}
// ヘッダー
.header {
  display: flex;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #444444;
}

.header-logo {
  text-decoration: none;
  color: #EEEEEE;
}

@media (min-width: 768px) {
  .header-logo {
    padding-left:50px;
  }
}

// サイドバー
.side-nav {
  padding-top: 10px;
  width: 150px;
  height: 100%;
}
.side-list {
  margin-left: 40px;
  display: block;
  width: 100px;
}

.menu-list li {
  margin-bottom: 20px;
}

.list-item {
  font-size: 1.5em;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  font-family: "Caveat",cursive!important;
}

.fa-solid::before {
  font-size: 1.4rem;
  padding-right: 5px;
}

// トップページメイン
.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #A9A9A9;
  position: relative;
}

.content-name {
  position: absolute;
  top: 50%;
  left: 50%;
}

// フッター
.footer-text {
  text-align: center;
  position: relative;
  height: 30px;
  color: #EEEEEE;
  background-color: #444444;
}

.footer-text p {
  position: absolute;
  top: 30%;
  left: 50%;
}

// アバウトページ
.about-content {
  width: 80%;
}

.container-content {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 10%;
  margin: auto;
  background-color: #FAEBD7;
  border: #444444 solid 1px;
  border-radius: 10px;
}

.content-document-inner {
  padding: 10px 56px 40px;
  text-align: center;
}

.content-document-inner p {
  font-size: 1.2rem;
  line-height: 50px;
}

.title-font {
  font-family: "Courier New";
}

.document-icon::before {
  font-family: "Font Awesome 5 Free";
  content: "\f02d";
  padding-right: 10px;
}
// サインアップページ
.signup-icon::before {
  font-family: "Font Awesome 5 Free";
  content: "\f304";
  padding-right: 10px;
}