* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: #a09a8e;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;

    appearance: none;
}

p {
    white-space: pre-wrap;
}

ul li {
    list-style-type: none;
}

a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

:hover {
    transition: .3s;
}

.flash {
    background-color: #f2b33e;
    color: #ffffff;
    text-align: center;
}
// ヘッダー
.navbar {
    padding: .5rem 1rem;
}

@media (min-width:767px) {
    .navbar {
        padding: 1rem 2rem;
    }
}

.container {
    width: 100%;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-logo {
    color: #f4ecdc;
}

@media (min-width: 767px) {
    .header-logo {
        padding-left: 20px;
    }
}

.header-btn {
    padding: .5rem .75rem;
    border-radius: 20px;
}

.logout-btn {
    background-color: #f2b33e;
    color: #ffffff;
    font-size: .75rem;
}

.guest-login {
    background-color: #f2b33e;
    color: #ffffff;
    font-size: .75rem;
}

.guest-login:hover {
    background-color: #ffffff;
    color: #f2b33e;
}

@media (max-width:767px) {
    .nav-header-form-none {
        display: none;
    }
}

.header__nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    transition: ease .4s;
}


@media screen and (min-width: 960px) {
    .header__nav {
        display: flex;
        justify-content: end;
        position: static;
        transform: initial;
        width: 50%;
        height: inherit;
        background-color: inherit;
    }
}


@media screen and (min-width: 960px) {
    .nav__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: initial;
    }
}

.nav-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
}


@media screen and (min-width: 960px) {
    .nav-items {
        position: inherit;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        padding-top: inherit;
        padding-bottom: inherit;
    }
}

.nav-items__item a {
    display: block;
    width: 100%;
    margin-bottom: 24px;
    color: black;
    font-size: 20px;
    text-align: center;
}

.nav-items__item:last-child a {
    margin-bottom: 0;
}

@media screen and (min-width: 960px) {
    .nav-items__item a {
        margin-bottom: 0;
    }
}


/* ハンバーガーメニュー */
.header__hamburger {
    width: 48px;
    height: 100%;
}

.hamburger {
    z-index: 9999;
    border-color: transparent;
    background-color: transparent;
}

@media screen and (min-width: 960px) {
    .hamburger {
        display: none;
    }
}


.hamburger span {
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #000000;
    transition: ease .4s;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    margin: 8px 0;
}

.hamburger span:nth-child(3) {
    top: 0;
}


/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
    transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
    top: 5px;
    transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
}

@media (min-width: 767px) {
    .nav-hamburger {
        display: none;
    }
}
// サイドバー
.side-nav {
    width: 130px;
    height: 100%;
    padding-top: 10px;
    border-right: 2px solid #a09a8e;
    background-color: #f8f1e5;
}

@media (max-width: 767px) {
    .side-nav {
        display: none;
    }
}

.side-list {
    display: block;
    width: 110px;
    margin-left: 1rem;
}

.menu-list li {
    margin-bottom: 20px;
}

.list-item {
    color: #000000;
    font-weight: bold;
    font-size: 1.5em;
    font-family: "Caveat",cursive!important;
}

.list-item:after {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-100%, 0);
    width: 100%;
    height: 2px;
    background-color: #f2b33e;
    content: "";
    transition: transform cubic-bezier(.215, .61, .355, 1) .4s;
}

.list-item:hover:after {
    transform: translate(0, 0);
}

.list-item:hover {
    color: #f2b33e;
}

.fa-solid::before {
    padding-right: 5px;
    font-size: 1.4rem;
}

// トップページメイン
.main {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    background-color: #f8f1ed;
}

.content-name {
    position: absolute;
    top: 40%;
    left: 40%;
}

@media (max-width: 767px) {
    .content-name {
        position: absolute;
        top: 40%;
        left: 40%;
    }
}

// フッター
.footer-text {
    position: relative;
    height: 40px;
    background-color: #ada391;
    color: #f4ecdc;
    text-align: center;
}

.footer-text p {
    position: absolute;
    top: 20%;
    left: 50%;
}

// アバウトページ
.about-content {
    width: 80%;
}

.container-content {
    margin: 20px auto;
    border: #444444 solid 1px;
    border: none;
    border-radius: 10px;
}

.content-document-inner {
    padding: 10px 56px 40px;
    text-align: center;
}

.content-document-inner p {
    font-size: 1.2rem;
    line-height: 50px;
}

.title-font {
    font-family: "Courier New";
}

.document-icon::before {
    padding-right: 10px;
    font-family: "Font Awesome 5 Free";
    content: "\f02d";
}
// サインアップページ
.actions {
    margin-bottom: 2.5rem;
}

.signup-icon::before {
    padding-right: 10px;
    font-size: 1.5rem;
    font-family: "Font Awesome 5 Free";
    content: "\f304";
}

.container-content {
    border: 2px solid #a09a8e;
    background-color: #f8f1e5;
}

.user-form {
    width: 50%;
}

@media  (max-width: 1020px) and (min-width: 768px) {
    .user-form {
        width: 60%;
    }
}

@media (max-width: 767px) {
    .user-form {
        width: 80%;
    }
}

.form-control {
    width: 100%;
    margin-bottom: 1rem;
    padding: .75rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    resize: none;
}

.form-control:focus {
    outline: 3px solid #c1e0ff;
}

.form-control-show {
    color: #b2aca2;
}

.registration-btn {
    padding: .5rem .1rem !important;
}

.base-btn {
    width: 50%;
    padding: .5rem .75rem;
    border-radius: 20px;
}

.form-submit {
    padding: .5rem 2rem;
    border: none;
    border-radius: 20px;
    background-color: #f2b33e;
    color: #ffffff;
}

.form-submit:hover {
    border: none;
    background-color: #ffffff;
    color: #f2b33e;
}

label {
    font-weight: 600;
}
// ログインページ
.login-icon::before {
    padding-right: 10px;
    font-size: 1.5rem;
    font-family: "Font Awesome 5 Free";
    content: "\f007";
}

.login-btn {
    padding: .5rem .1rem;
}

.link-btn {
    background-color: #ffffff;
    color: #f2b33e;
}

.link-btn:hover {
    background-color: #f2b33e;
    color: #ffffff;
}

.btn-menu {
    border: none;
}
// アカウント、プロフィール編集ページ
.user-list {
    font-size: .75rem;
}

.user-list li {
    margin-bottom: 0;
}

.user-list-item {
    color: black;
    font-size: 1rem;
}

.user-list-item:hover {
    border-bottom: 1px solid #f2b33e;
    color: #f2b33e;
}

.user-content-item {
    margin: 0 40px 10px 40px;
}

.return-link {
    padding: .25rem 0;
    border: 1px solid #f2b33e;
    background-color: #ffffff;
    color: #f2b33e;
}

.return-link:hover {
    background-color: #f2b33e;
    color: #ffffff;
}

.row-4 {
    height: 4em;
    line-height: 1.1rem;
    resize: none;
}

.focus-none {
    color: #b2aca2;
}

.focus-none:focus {
    outline: none;
}

.col-border {
    border-bottom: 1px solid #f2b33e;
}

.user-icon-size {
    font-size: 3rem !important;
}

.user-icon-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;

    object-fit: cover;
}

.user-icon-font::before {
    margin-bottom: 10px;
    border-radius: 50%;
    font-size: 3rem;
}

.no-edit-form {
    border: none;
    background-color: #f8f1e5;
    text-align: center;
    resize: none;
}

.no-edit-form:focus {
    outline: none;
}

#error_explanation {
    color: red;
}